*{
    margin: 0;
    padding: 0;
    font-family: 'Jost' ,sans-serif;
    
}
@font-face{
    font-family: 'Jost' ,sans-serif;
    src: url('fonts/Jost-BoldItalic.ttf') format('truetype');

}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #005f73;
  color: white;
}

.container {
  display: flex;
}

aside {
  width: 200px;
  background-color: #94d2bd;
  padding: 1rem;
}

aside ul {
  list-style: none;
  padding: 0;
}

main {
  flex: 1;
  padding: 2rem;
}

.material {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}
